body {
    background-color : rgb(250, 250, 250);
}

h1 {
    color : rgb(100, 100, 100);
}

h2 {
    color : rgb(130, 130, 130);
}
p {
    margin    :  0 auto;
    max-width :   300px;
    padding   :    12px;

    
    color     :   rgb(129, 129, 129);
}
h3 {
    size  : 16px;
}
