h1 {
    color      : #396bc7;
    text-align : center;
}
img {
    float   : left;
    padding : 20px;
}
h2  {  
    text-align : center;
    color      : #396bc7;
}
p.nickname {
   font-size : 14px;
}
p  {
    text-align : center;
}
p.birth {
    font-size  : 16px;
    text-align : center;
    max-height : 150px;
}
h3 {
    font-style : underline;
    text-align : center;
}
ul {
    font-size      : 15px;
    color          : #396bc7;
}